body{
    background-color: rgb(93, 95, 93);
}

.carousel-item {
    position:relative;
}

.equipo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    text-align: center;
}

.btn-custom {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3b2ad8;
    color: white;
    padding: 15px 15px;
    border: 100px #000000;
    border-radius: 10px;
}

.carousel-item img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: right;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container p {
    margin: 10px 0;
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: left;
}



.back-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-link:hover {
    background-color: #45a049;
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}