body{
    background-color: white;
}

.carousel-item {
    position:relative;
}

.equipo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    text-align: center;
}
